.header-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .header-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .header-basic li {
    padding:0 10px;
  }
  
  .header-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .header-basic ul a:hover {
    opacity:1;
  }
  
 .header-basic {
    padding:40px 0;
    background-color:black;
    color:white;
  }
  
  .header-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .header-basic li {
    padding:0 10px;
  }
  
  .header-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .header-basic ul a:hover {
    opacity:1;
  }
  
  .header-basic #title {
    text-align: left;
  }
