#root{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

footer{
    flex-shrink: 0;
}

body{
    display: flex;
    flex-direction: column;

}

article{
    flex: 1 0 auto;
}
.productContainer{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.productInfo{
    text-align: center;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantityContainer{
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 3;
    border: none;
    outline: none;
}

.quantityContainer:focus, input:focus{
    outline: none;
}

.quantityContainer input{
    border: none;
    outline: none;
}

.productImage{
    width: 100px;
    height: 100px;
}

.cartButton{
    margin-top: 20px;
    margin-bottom: 15px;
}

.cartContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vw;
}

.cartItem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid lightgray;
    margin-bottom: 20px;
   
}



.cartList{
    margin: 0;
    padding: 0;
    grid-column: span all;
}

.addRemoveButtons{
    display: flex;
}

.shippingContainer{
    background-color: #E91E63;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.shippingContainer p{
    color: lightgray;
    font-size: large;
}

.shippingContainer button{
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 50px;
}

.cartButton{
    background-color: white;
    border: 1px solid #E91E63;
    border-radius: 25%;
    color: #E91E63;

}

.cartButton:hover{
    background-color: #E91E63;
    color: white;
}

.orderForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}